

        <!-- Fin Navbar -->
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="form-group col-md-12">
                        <h1><i class="fa fa-github" aria-hidden="true"></i>
                            Veterinaria Lisseth</h1>
                        <p>!!Bienvenido/a!!.</p>

                    </div>
                </div>
                <section class="bg-mix">
                    <div class="container">
                        <div class="card rounded-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3 d-flex stat my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">Cortes de Pelo</h6>
                                            <h3 class="font-weight-bold">#4</h3>
                                            <h6 class="text-warning"><i class="icon ion-md-arrow-dropright-circle"></i>Pendientes</h6>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex stat my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">Visita medica</h6>
                                            <h3 class="font-weight-bold">#2</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropright-circle"></i>Hecho</h6>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex stat my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">Baño completo</h6>
                                            <h3 class="font-weight-bold">#3</h3>
                                            <h6 class="text-warning"><i class="icon ion-md-arrow-dropright-circle"></i>Pendientes</h6>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex my-3">
                                        <div class="mx-auto">
                                            <h6 class="text-muted">Otro</h6>
                                            <h3 class="font-weight-bold">#0</h3>
                                            <h6 class="text-success"><i class="icon ion-md-arrow-dropright-circle"></i>Hecho</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bg-grey py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 my-3">
                                <div class="card rounded-0">
                                    <div class="card-header bg-light">
                                        <h6 class="font-weight-bold mb-0">Tabla de Datos</h6>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-hover table-sm table-bordered">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">Handle</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                                                        <button type="button" class="btn btn-light"><i class="fa fa-eye"></i></button>
                                                        <button type="button" class="btn btn-dark"><i class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                                                        <button type="button" class="btn btn-light"><i class="fa fa-eye"></i></button>
                                                        <button type="button" class="btn btn-dark"><i class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <th scope="row">3</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                        <button type="button" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i></button>
                                                        <button type="button" class="btn btn-light"><i class="fa fa-eye"></i></button>
                                                        <button type="button" class="btn btn-dark"><i class="fa fa-trash"></i></button>
                                                    </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
            </div>
    </main>
    <!-- page-content" -->
   